<h2>Please answer these Questions</h2>
<hr/>

<%= form_for([@question_group, @answer_group_builder]) do |f| %>
</br>
  <%- @answer_group_builder.answers.each do |answer| %>
</br>
    <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %></br>
      <%= render_answer_form_helper(answer, answer_form) %>
    <% end %>
  <% end %>
</br>
</br>
  <%= f.submit "Save" %>
<% end %>
