<h1>Webapp#home</h1>
<p>Find me in app/views/webapp/home.html.erb</p>
<p>Click to open the date picker:</p>
<p><input type="text" class="datepicker"></p>
<br /><br />

<a class="image-popup-vertical-fit" href="http://farm9.staticflickr.com/8241/8589392310_7b6127e243_b.jpg" title="Caption. Can be aligned to any side and contain any HTML.">
	<img src="http://farm9.staticflickr.com/8241/8589392310_7b6127e243_s.jpg" width="75" height="75">
</a>
<a class="image-popup-fit-width" href="http://farm9.staticflickr.com/8379/8588290361_ecf8c27021_b.jpg" title="This image fits only horizontally.">
	<img src="http://farm9.staticflickr.com/8379/8588290361_ecf8c27021_s.jpg" width="75" height="75">
</a>
<a class="image-popup-no-margins" href="http://farm4.staticflickr.com/3721/9207329484_ba28755ec4_o.jpg">
	<img src="http://farm4.staticflickr.com/3721/9207329484_ba28755ec4_o.jpg" width="107" height="75">
</a>
<a class="image-popup-no-margins" href="http://blog.jimdo.com/wp-content/uploads/2014/01/tree-247122.jpg">
	<img src="http://blog.jimdo.com/wp-content/uploads/2014/01/tree-247122.jpg" width="107" height="75">
</a>

<br /><br />

	<a title="Click here to see it in other page" class="image-popup-no-margins" href="http://pt.stackoverflow.com/questions/14780/erro-de-uncaught-typeerror-undefined-is-not-a-function/14783#14783" onclick="$(initializeViz);">
	<img  alt="miniature1" src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;4_&#47;4_Cats_Exploration&#47;Test_a&#47;1_rss.png" width="107" height="75"></a>

<br /><br />



<script type='text/javascript' src='http://public.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1204px; height: 769px;'><noscript><a href='http:&#47;&#47;localhost:3000&#47;webapp&#47;map'><img alt='Test_a ' src='http:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;4_&#47;4_Cats_Exploration&#47;Test_a&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='1204' height='769' style='display:none;'><param name='host_url' value='http%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='4_Cats_Exploration&#47;Test_a' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='http:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;4_&#47;4_Cats_Exploration&#47;Test_a&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showTabs' value='y' /><param name='showVizHome' value='n' /><param name='filter' value='name=4_Cats_Exploration%26%2347%3BTest_a' /><param name='filter' value='animate_transition=true' /><param name='apiID' value='handler0' /></object></div>