<h1>Webapp#radar</h1>
<p>Find me in app/views/webapp/radar.html.erb</p>
<br /><br />
<a class="simple-ajax-popup-align-top" href="http://public.tableau.com/views/4_Cats_Exploration/Test_a?:embed=y&:loadOrderID=0&:showTabs=y&:display_count=yes">Load content via ajax</a><br>
<a class="simple-ajax-popup" href="http://public.tableau.com/views/4_Cats_Exploration/Test_a?:embed=y&:loadOrderID=0&:showTabs=y&:display_count=yes">Load another content via ajax</a>